html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "LG Smart", "Segoe UI", "Microsoft Sans Serif", sans-serif;
}
header {
  padding: 0 30px 0 30px;
  display: flex;
  width: 100%;
  height: 95px;
  box-sizing: border-box;

  border-bottom: solid 1px #eeeeee;
}
a {
  text-decoration: none;
  color: black;
}
header .logo {
  width: 170px;
}
header .logo a {
  display: inline-block;
  width: 110px;
}

header .logo a img {
  width: 100%;
  height: 100%;
}
header ul {
  margin: 0;
  list-style: none;
  padding: 0;
  font-weight: 700;
  width: 100%;
  font-size: 13px;
}
header ul .top {
  display: flex;
  height: 40px;
  justify-content: space-between;
  line-height: 40px;

  border-bottom: solid 1px #eeeeee;
}

header ul .top .right span:nth-child(2) {
  display: inline-block;
  padding-left: 20px;
}

header ul .top a:hover {
  text-decoration-line: underline;
}

header .bottom ul {
  display: inline-flex;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
}
header .bottom ul li {
  display: inline-block;
  padding-right: 22px;
}
header .bottom ul li a:hover {
  color: #a50034;
  border-bottom: solid 2px #a50034;
}

header .bottom ul li a {
  display: inline-block;
  height: 100%;
}
header .bottom .search {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.ground {
  height: 850px;
  background: url("/LG/Image/mobility_1_d.webp") no-repeat;
  background-size: 100%;
  padding-top: 82px;
  box-sizing: border-box;
}
.ground .inner {
  width: 100%;
  height: 234px;
  margin: auto;

  text-align: center;
  color: white;
}
.ground .inner h2 {
  margin: 0;
  height: 120px;
  line-height: 60px;
  font-size: 55px;
  font-weight: 600;
}
.ground .inner div {
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  margin: 15px 0 30px 0;
}
.ground .inner a,
.global a {
  display: inline-block;
  width: 160px;
  height: 45px;

  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  background-color: #a50034;
  color: white;

  border-radius: 3px;
  transition: all 0.2s ease;
}
.ground .inner a:hover,
.global a:hover {
  filter: brightness(1.2);
}

.vision {
  width: 100%;
  height: 610px;
  margin-top: 105px;
  box-sizing: border-box;
}

.vision .goal {
  text-align: center;
  max-width: 1600px;
  margin-bottom: 40px;
}

.vision .goal h2 {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 46px;
  font-weight: 600;
  height: 112px;
  line-height: 56px;
  color: #212529;
}

.vision .goal div {
  font-size: 16px;
  height: 72px;
  line-height: 24px;
}
.vision .image {
  padding: 0;
  width: 1285px;
  height: 340px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.vision .image li {
  width: 303px;
  list-style: none;
  text-align: center;
}
.vision .image li h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 19px 0 19px 0;
  height: 32px;
  line-height: 32px;
}
.vision .image li div {
  height: 72px;
  line-height: 24px;
  font-size: 14px;
  color: #6b6b6b;
}

.information {
  width: 100%;
  height: 800px;
  display: block;
  margin-top: 120px;
}

.information .infos {
  max-width: 1285px;
  height: 750px;
  margin: auto;
  display: flex;

  box-sizing: border-box;
}

.information .infos a,
.information .infos > div {
  display: inline-block;
  text-align: left;
}

.information .infos a {
  padding: 25px 20px 0 20px;
  box-sizing: border-box;
}
.information .infos .right {
  width: 100%;
  height: 750px;
  position: relative;

  font-size: 26px;
  font-weight: 600;
}
.information .infos .right a {
  color: #ffffff;
}
.information .infos .top,
.information .infos .bottom {
  display: flex;
  width: 720px;
  height: 363px;
  position: absolute;
}
.information .infos .top {
  left: 0;
  top: 0;
}
.information .infos .bottom {
  left: 0;
  bottom: 0;
}

.information .infos .about a {
  width: 521px;
  height: 750px;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding-top: 55px;
  background: url("/LG/Image/mobility_4-1_d.webp") no-repeat;
}

.information .infos .cockpit a,
.future a {
  width: 303px;
  height: 363px;
}

.information .infos .connect a,
.auto a {
  width: 412px;
  height: 363px;
}

.information .infos .cockpit a {
  background: url("/LG/Image/mobility_4-2_d.webp") no-repeat;
  margin: 0 25.5px 0 25.5px;
}

.information .infos .connect a {
  background: url("/LG/Image/mobility_4-3_d.webp") no-repeat;
}

.information .infos .auto a {
  background: url("/LG/Image/mobility_4-4_d.webp") no-repeat;
  margin: 0 25.5px 0 25.5px;
}

.information .infos .future a {
  background: url("/LG/Image/mobility_4-5_d.webp") no-repeat;
}

.global {
  width: 100%;
  height: 381px;
  margin-top: 50px;
  background: url("/LG/Image/contact.webp") no-repeat;
  background-size: 100%;

  padding: 85px 0 0 118px;
  box-sizing: border-box;
}
.global div,
.global h2 {
  width: 390px;
  font-weight: 600;
  color: #ffffff;
}
.global .text1 {
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.global .text2 {
  height: 60px;
  margin: 10px 0 20px 0;
  line-height: 60px;
  font-size: 54px;
}

.global a {
  width: 140px;
  height: 45px;
  font-size: 14px;
  text-align: center;
}

.component {
  width: 100%;
  height: 373px;
  text-align: center;
  margin: 100px 0 0 0;
}

.component h2 {
  font-size: 44px;
  font-weight: 600;
  height: 56px;
  line-height: 56px;
  margin: 0;
}

.component div {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  margin: 15px 0 35px 0;
}

.component .more {
  display: flex;
  list-style: none;
  width: 976px;
  height: 144px;

  padding: 0;
  margin: auto;
}

.component .more li {
  flex: 1;
  display: inline-block;
  height: 125px;
  text-align: center;
}
.component .more li a {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  display: block;
}
.component .more li a::after {
  content: "  "
    url("https://www.lg.com/lg5-common-gp/images/common/icons/link-right-nightrider.svg");
}
.component li:nth-child(1)::before {
  content: url("/LG/Image/icon_pressrelease_d.png");
}

.component li:nth-child(2)::before {
  content: url("/LG/Image/icon_morestories_d.png");
}

.component li:nth-child(3)::before {
  content: url("/LG/Image/icon_linkedin_d.png");
}

.component li:nth-child(4)::before {
  content: url("/LG/Image/icon_youtube_d.png");
}

.under {
  width: 100%;
  height: 638px;
}

.under .upper {
  width: 100%;
  height: 535px;
  background-color: #f5f5f5;
}

.under .upper .announcement1,
.under .upper .region {
  height: 70px;
  line-height: 70px;
  border-bottom: solid 1px #e4e4e4;
}

.under .upper .announcement2 {
  height: 110px;
  border-bottom: solid 1px #e4e4e4;
  line-height: 20px;
  padding: 25px 0 25px 0;
  box-sizing: border-box;
}
.under .upper > div {
  width: 1284px;
  margin: auto;
}

.under .upper .announcement1,
.announcement2 {
  font-size: 13px;
  word-spacing: -2px;
  color: #6b6b6b;
}

.under .upper .region {
  font-size: 15px;
  font-weight: 600;
}

.under .upper .region .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/LG/Image/lg.png") no-repeat;
  background-size: 20px 20px;
  transform: translateY(5px);
  margin-right: 9px;
}

.under .upper .region .text:hover {
  display: inline;
  text-decoration: underline solid 2px;
}

.under .upper .list {
  display: flex;
  padding: 30px 0 50px 0;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 15px;
}
.under .upper .list a:hover {
  display: inline;
  text-decoration: underline solid 2px;
}
.under .upper .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.under .upper .list div {
  border-right: solid 1px #e4e4e4;
  height: 202px;
  line-height: 24px;
  flex: 1;
}
.under .upper .list div:nth-child(1) ul {
  padding-bottom: 25px;
}
.under .upper .list div:nth-child(2) ul:nth-child(1) {
  margin-bottom: 20px;
}
.under .upper .list div:nth-child(2) ul,
.under .upper .list div:nth-child(3) ul {
  padding-left: 25px;
  box-sizing: border-box;
}
.under .upper .list li {
  margin-bottom: 8px;
}
