html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "LG Smart", "Segoe UI", "Microsoft Sans Serif", sans-serif;
}
header {
  padding: 0 30px 0 30px;
  display: flex;
  width: 100%;
  height: 95px;
  box-sizing: border-box;

  border-bottom: solid 1px #eeeeee;
}
a {
  text-decoration: none;
  color: black;
}
header .logo {
  width: 170px;
}
header .logo a {
  display: inline-block;
  width: 110px;
}

header .logo a img {
  width: 100%;
  height: 100%;
}
header ul {
  margin: 0;
  list-style: none;
  padding: 0;
  font-weight: 700;
  width: 100%;
  font-size: 13px;
}
header ul .top {
  display: flex;
  height: 40px;
  justify-content: space-between;
  line-height: 40px;

  border-bottom: solid 1px #eeeeee;
}

header ul .top .right span:nth-child(2) {
  display: inline-block;
  padding-left: 20px;
}

header ul .top a:hover {
  text-decoration-line: underline;
}

header .bottom ul {
  display: inline-flex;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
}
header .bottom ul li {
  display: inline-block;
  padding-right: 22px;
}
header .bottom ul li a:hover {
  color: #a50034;
  border-bottom: solid 2px #a50034;
}

header .bottom ul li a {
  display: inline-block;
  height: 100%;
}
header .bottom .search {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.ground {
  height: 850px;
  background: url("/LG/Image/mobility_1_d.webp") no-repeat;
  background-size: 100%;
  padding-top: 82px;
  box-sizing: border-box;
}
.ground .inner {
  width: 100%;
  height: 234px;
  margin: auto;

  text-align: center;
  color: white;
}
.ground .inner h2 {
  margin: 0;
  height: 120px;
  line-height: 60px;
  font-size: 55px;
  font-weight: 600;
}
.ground .inner div {
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  margin: 15px 0 30px 0;
}
.ground .inner a {
  display: inline-block;
  width: 160px;
  height: 45px;

  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  background-color: #a50034;
  color: white;

  border-radius: 3px;
  transition: all 0.2s ease;
}
.ground .inner a:hover {
  filter: brightness(1.2);
}

.vision {
  width: 100%;
  height: 610px;
  margin-top: 105px;
  box-sizing: border-box;
}

.vision .goal {
  text-align: center;
  max-width: 1600px;
  margin-bottom: 40px;
}

.vision .goal h2 {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 46px;
  font-weight: 600;
  height: 112px;
  line-height: 56px;
  color: #212529;
}

.vision .goal div {
  font-size: 16px;
  height: 72px;
  line-height: 24px;
}
.vision .image {
  padding: 0;
  width: 1285px;
  height: 340px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.vision .image li {
  width: 300px;
  list-style: none;
  text-align: center;
}
.vision .image li h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 19px 0 19px 0;
  height: 32px;
  line-height: 32px;
}
.vision .image li div {
  font-size: 14px;
  color: #6b6b6b;
}

.information {
  width: 100%;
  height: 800px;
  display: block;
}

.information .infos {
  max-width: 1285px;
  height: 750px;
  margin: auto;
  display: flex;

  box-sizing: border-box;
}

.information .infos a,
.information .infos > div {
  display: inline-block;
  text-align: left;
}

.information .infos a {
  padding: 25px 20px 0 20px;
  box-sizing: border-box;
}
.information .infos .right {
  width: 100%;
  height: 750px;
  position: relative;

  font-size: 26px;
  font-weight: 600;
}
.information .infos .right a {
  color: #ffffff;
}
.information .infos .top,
.bottom {
  display: flex;
  width: 720px;
  height: 363px;
  position: absolute;
}
.information .infos .top {
  left: 0;
  top: 0;
}
.information .infos .bottom {
  left: 0;
  bottom: 0;
}

.information .infos .about a {
  width: 521px;
  height: 750px;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding-top: 55px;
  background: url("/LG/Image/mobility_4-1_d.webp") no-repeat;
}

.information .infos .cockpit a,
.future a {
  width: 303px;
  height: 363px;
}

.information .infos .connect a,
.auto a {
  width: 412px;
  height: 363px;
}

.information .infos .cockpit a {
  background: url("/LG/Image/mobility_4-2_d.webp") no-repeat;
  margin: 0 25.5px 0 25.5px;
}

.information .infos .connect a {
  background: url("/LG/Image/mobility_4-3_d.webp") no-repeat;
}

.information .infos .auto a {
  background: url("/LG/Image/mobility_4-4_d.webp") no-repeat;
  margin: 0 25.5px 0 25.5px;
}

.information .infos .future a {
  background: url("/LG/Image/mobility_4-5_d.webp") no-repeat;
}
