body {
  margin: 0;
  background-color: #fafafa;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 20px;
  border: solid 1px lightgrey;
  background-color: white;

  position: fixed;
  width: 100%;
  top: 0;
}
.header .logo {
  padding-top: 20px;
}
.header .input input {
  width: 215px;
  height: 25px;
  outline: none;
  border: solid 1px lightgrey;
  border-radius: 5px;
}

.header .icons {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
main {
  text-align: center;
}
main .story {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 57px auto 24px;
  padding-left: 20px;

  width: 580px;
  height: 118px;

  border: solid 1px lightgrey;
  border-radius: 3px;
}
main .story .main > div {
  font-size: 12px;
}
main .post {
  background-color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 32px;
}
main .post .post-header {
  display: flex;
  height: 28px;
  align-items: center;
  padding: 16px 16px 16px;

  border: solid 1px lightgray;
}

main .post .img img {
  width: 600px;
  height: 614px;
}

main .post .post-header .name-menu {
  display: flex;
  align-items: center;
  margin-left: 12px;
  width: 100%;
  justify-content: space-between;
}

main .post .post-header .name-menu .option {
  display: flex;
  align-items: center;

  height: 60px;
}

main .post .post-header .name-menu .name {
  font-size: 14px;
}
main .post .post-comment {
  border: solid 1px lightgray;
  border-top: none;
}

main .post .post-comment .icons {
  display: flex;
  align-items: center;

  width: 568px;
  height: 32px;

  padding: 8px 8px 8px 16px;
}

main .post .post-comment .icons div {
  margin-right: 12px;
}

main .post .post-comment .icons .save {
  margin-left: auto;
  margin-right: 0;
}

main .post .post-comment .comments {
  display: flex;
  margin-bottom: 8px;
  padding-left: 16px;
}

main .post .post-comment .comments div {
  font-size: 14px;
  margin-left: 5px;
}

main .post .post-comment .Enter-comment {
  display: flex;
  margin-top: 4px;
  padding: 0 16px 0 16px;
  height: 55px;

  align-items: center;
}

main .post .post-comment .Enter-comment .smile {
  padding: 8px 16px 8px 0;
}

main .post .post-comment .Enter-comment .text {
  border: none;
  outline: none;
  width: 80%;

  font-weight: bold;
}

main .post .post-comment .Enter-comment .push {
  font-size: 14px;
  margin-left: auto;
  color: lightskyblue;
}

::placeholder {
  color: lightgrey;
}

@media (min-width: 640px) {
  main .story {
    margin-top: 87px;
  }
}
