html,
body {
  margin: 0;
  height: 100%;
}

.maincontents {
  overflow: hidden;
  width: 100%;
  height: 510px;
  position: relative;
}

header {
  position: relative;
  min-width: 1280px;
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 2;
}
header h1 {
  margin: 0;
}

header .menu-in .logo {
  position: absolute;
  top: 34px;
  left: 160px;
}
header .menu-in .whole {
  position: absolute;
  display: inline-block;
  height: 21px;
  right: 160px;
  top: 34px;
}
header .menu-in .whole div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.container {
  position: absolute;
  z-index: 1;
  top: 0;
}

.container .title {
  display: inline-block;
  position: absolute;
  letter-spacing: 0px;
  top: 190px;
  left: 160px;
}

.container .title h2 {
  font-size: 50px;

  color: white;
  margin: 0;
}

.container .title h3 {
  font-size: 20px;
  color: white;
  line-height: 31px;
}

.container .circle {
  display: inline-block;
  position: absolute;
  top: 190px;
  right: 550px;
}

.container .circle > li {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
  margin: 20px 0 20px 0;
}

.container .circle :nth-child(0) {
  border: solid 1px white;
}

.container .arrow {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 20px;
  bottom: 0;
  left: 746px;
}

.container span::after {
  content: "";
  left: 100%;
  position: absolute;
  width: 1920px;
  height: 20px;
  background-color: white;
}

.container span::before {
  content: "";
  right: 100%;
  position: absolute;
  width: 1920px;
  height: 20px;
  background-color: white;
}

.banner {
  width: 100%;
  top: 70%;
  text-align: center;
}

.banner div {
  width: 1200px;
  margin: 0 auto;
  letter-spacing: -1px;
}

.banner h2 {
  font-size: 40px;
}

.banner ul {
  display: flex;

  font-size: 16px;
  list-style: none;
  padding: 0;
  border-top: solid 1px #e4dcd3;
  border-bottom: solid 1px #e4dcd3;
}

.banner ul li a {
  display: inline-block;
  line-height: 60px;
  text-decoration: none;
  color: inherit;
}
.banner ul li a:hover {
  color: #007fa8;
}
.banner ul li:nth-child(1) {
  width: 125px;
  height: 60px;
}

.banner ul li:nth-child(2) {
  width: 125px;
  height: 60px;
}
.banner ul li:nth-child(3) {
  width: 192px;
  height: 60px;
}
.banner ul li:nth-child(4) {
  width: 180px;
  height: 60px;
}
.banner ul li:nth-child(5) {
  width: 80px;
  height: 60px;
}
.banner ul li:nth-child(6) {
  width: 211px;
  height: 60px;
}
.banner ul li:nth-child(7) {
  width: 160px;
  height: 60px;
}
.banner ul li:nth-child(8) {
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background-color: #e4dcd3;
  border-radius: 20px;

  position: relative;
}

.banner ul li:nth-child(8) img {
  position: absolute;
  top: 10px;
  left: 20px;
  line-height: 60px;
}

.banner ul li:nth-child(8) span {
  position: absolute;
  left: 50%;
  top: -10px;
}
.plus {
  margin-top: 50px;
  padding-bottom: 100px;
}
.plus ul {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 24px auto;
  padding: 0;
}
.plus ul li {
  float: left;
  margin-right: 24px;
  list-style: none;
}
.plus a {
  display: inline-block;
}
.plus a img {
  width: 384px;
  height: 384px;
}

.plus .H {
  width: auto;
  margin-top: 64px;
}
.plus .more {
  width: 50px;
  height: 60px;
  display: block;
  font-size: 16px;
  font-family: "hh_r";
  margin: 40px auto 0;
  padding: 0;
  padding-top: 40px;
  box-sizing: border-box;

  background-color: white;
  border: none;

  position: relative;
}

.plus .more::after {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  top: 25%;
  left: 18%;
  background-color: black;
}

.plus .more::before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 32px;
  background-color: black;
  left: 47%;
  top: 0;
}

footer {
  width: 100%;
  height: 280px;
  padding: 60px 0 60px 0;
  box-sizing: border-box;
  background-color: #303030;
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 36px auto;
  list-style: none;
  font-size: 18px;
  color: #888888;
}

footer ul li {
  position: relative;
}
footer ul li,
a {
  display: inline-block;
}

footer ul li a {
  text-decoration: none;
  color: inherit;
  margin: 0 20px 0 20px;
}

footer ul li a::after {
  position: absolute;
  top: 50%;
  bottom: 2px;
  right: -5px;
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #888888;
}

footer ul li:nth-child(5) a::after {
  display: none;
}
footer copyright {
  font-size: 14px;
  color: #707070;
}
