body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 120px;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  box-sizing: border-box;
}
header .left {
  flex-grow: 1;
}
button {
  background-color: #11ffee00;
  border: none;
  cursor: pointer;
}
header .menu {
  width: 645px;
  font-weight: 600;
  font-size: 0.9rem;
}
header .menu ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

header .more {
  width: 120px;
  box-sizing: border-box;
  padding: 0 42.5px 0 42.5px;
}
header .languge {
  margin-left: 3%;
}
header .more div {
  width: 35px;
  height: 4px;
  background-color: white;
  transition: 0.5s;
}
header .more div:nth-child(1) {
  margin-bottom: 10px;
}
header .more div:nth-child(2) {
  margin-top: 10px;
}
header .more a:hover div:nth-child(1) {
  transform: translateY(2.5px);
}
header .more a:hover div:nth-child(2) {
  transform: translateY(-2.5px);
}

@keyframes ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.con {
  width: 100%;
  height: 760px;
  position: relative;
}
.con .image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.con .image1 {
  background: url("/www_poscochemical_com/main_visual_bg01.jpg") no-repeat;
  background-size: auto 100%;
}

.con .image2 {
  background: url("/www_poscochemical_com/main_visual_bg02.jpg") no-repeat;
  background-size: auto 100%;
  animation: ani 5s linear alternate infinite;
}
.con .time {
  position: absolute;
  bottom: 30px;
  left: 51%;
  transform: translateX(-50%);
}
.con .time ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 400px;
  height: 30px;
}
.con .time ul li {
  width: 85px;
  height: auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.con .time ul li:last-child {
  border: none;
}
.con .time ul li button {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: white;
}
.business h2 {
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  margin: 90px 0 90px 0;
}
.business .kind {
  display: flex;
  width: 100%;
  height: 800px;
}
.business .kind .material {
  flex: 1;
  height: auto;
  overflow: visible;
  transition: 0.7s;
  position: relative;
}
.business .kind .material a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.business .kind .battery {
  background: url("/www_poscochemical_com/business_top_visual1_m.jpg") no-repeat;
  background-size: 100% auto;
}
.business .kind .battery:hover,
.business .kind .chemistry:hover,
.business .kind .foundation:hover {
  flex: 1.2;
}
.business .kind .chemistry {
  background: url("/www_poscochemical_com/business_top_visual3_m.jpg") no-repeat;
  background-size: 100% auto;
  z-index: 1;
}
.business .kind .foundation {
  background: url("/www_poscochemical_com/main_sec_07_img02.png") no-repeat;
  background-size: auto 100%;
}
